<!DOCTYPE HTML>
<html>
	<body>
		<h1>Add Board</h1>
		<form method='post' action='/addboardsubmit' enctype='multipart/form-data' role="form" class="form-inline">
			<div class="row" style="margin-bottom:20px;">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label>Name</label>
				</div>
			  	<div class="col-xs-12 col-sm-12 col-md-8" class="form-group">
			  		<input type="text" class="form-control" name="name" placeholder=""></input>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<button type="submit" class="btn btn-primary">
  submit
</button>
				</div>
			</div>
		</form>
	</body>
</html>