
<div class="fullwidthimage">
  <div class="container">
    <div class="search-wrapper">
      <p class="bigtitle">Discover yor next xlocos</p>
      <p class="smalltitle">Meet <span class="greenspan">local</span> people for local <span class="greenspan">xlocos</span></p>
      <form method='post' action='/search' enctype='multipart/form-data' role="form" class="form-inline">
      <div class="search-input-wrapper">
        
        <ul>
          <li>
            <input type="text" class="form-control searchinput" name="place" placeholder="Where should I go?">
          </li>
          <li>
        <div class="dropdown">
  <button class="btn dropdown-toggle search-dropdownbutton" type="button" id="dropdownMenu1" data-toggle="dropdown">
    What?
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" class="whatdropdown"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation" class="whatdropdown"><a role="menuitem" tabindex="-1" href="#">Food</a></li>
    <li role="presentation" class="whatdropdown"><a role="menuitem" tabindex="-1" href="#">Cultural</a></li>
    <li role="presentation" class="whatdropdown"><a role="menuitem" tabindex="-1" href="#">Sport</a></li>
    <li role="presentation" class="whatdropdown"><a role="menuitem" tabindex="-1" href="#">Spiritual</a></li>
  </ul>
</div>
</li>
<li>
  <input type="text" type="text" class="form-control" id="datepicker" placeholder="When?">
</li>
<li>
  <button type="submit" class="btn btn-primary" id="searchbutton">Search</button>
</li>
</ul>

<br style="clear:both"/>
      </div></form>
    </div>
    
  </div>
</div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div style="margin-left:197px; width:763px; margin-bottom: 50px; margin-top: 50px;">
        <iframe width="763" height="429" src="//www.youtube.com/embed/oUqTjpXrrSg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <img src="/img/neighboorhood.png" style="margin-left:200px; margin-bottom: 50px; ">
      </div>
      <div class="row">
        <img src="/img/cities.png" style="margin-left:200px; margin-bottom: 150px; ">
      </div>