<!--
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-1.png" style="max-width:100%">Likes</div></div>
  <div class="col-xs-4"><img src="img/shoes/image-10.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-34.png" style="max-width:100%"></div>
</div>
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-5.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-40.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-6.png" style="max-width:100%"></div>
</div>
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-7.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-32.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-31.png" style="max-width:100%"></div>
</div>
<div class="row">
  <div class="col-xs-4"><img src="img/shoes/image-33.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-26.png" style="max-width:100%"></div>
  <div class="col-xs-4"><img src="img/shoes/image-27.png" style="max-width:100%"></div>
</div>
-->
{{#each quotes}}
  <div class="quotecontainer">
    <div class="quotetext">
      {{text}}
    </div>
    <div class="quoteauthor">
      - {{author}}
    </div>
  </div>
{{/each}}